---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="es-CL">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <title>Mar Otec | Capacitación TcT en Chile</title>
    <meta name="description" content="Capacitación y certificación en trabajos con tensión e instalaciones energizadas. Instructores certificados, formación práctica y cumplimiento normativo en Chile." />

    <link rel="canonical" href="https://mar-otec.com/" />
    <link rel="alternate" hreflang="es-cl" href="https://mar-otec.com/" />

    

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Mar Otec" />
    <meta property="og:url" content="https://mar-otec.com/" />
    <meta property="og:title" content="Mar Otec | Capacitación y Certificación en Trabajos con Tensión e Instalaciones Energizadas en Chile" />
    <meta property="og:description" content="Capacitación y certificación en trabajos con tensión e instalaciones energizadas. Instructores certificados, formación práctica y cumplimiento normativo en Chile." />
    <meta property="og:image" content="https://mar-otec.com/images/og-preview.jpg" />
    <meta property="og:locale" content="es_CL" />



    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@mar_otec" />
    <meta name="twitter:creator" content="@joaquiv" />
    <meta name="twitter:title" content="Mar Otec | Capacitación y Certificación en Trabajos con Tensión e Instalaciones Energizadas en Chile" />
    <meta name="twitter:description" content="Capacitación y certificación en trabajos con tensión e instalaciones energizadas. Instructores certificados, formación práctica y cumplimiento normativo en Chile." />
    <!-- meta name="twitter:image" content="" />-->


    <meta name="google-site-verification" content="OwBg7sDJ6XLibZRD36IEMnFcxAhnzFSf2Hq2HnPToMI" />
    <meta name="application-name" content="Mar Otec" />
    <meta name="apple-mobile-web-app-title" content="Mar Otec" />

    
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon.png" />
  </head>

  <body class="flex flex-col min-h-screen overflow-x-hidden bg-[#101828]">
    <Header />

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.body.addEventListener("click", (e) => {
      const target = e.target;
      const btn =
        target instanceof Element
          ? target.closest(".btn-curso, .btn-back")
          : null;
      if (!btn) return;

      const id = (btn as HTMLElement).dataset.id;
      const card = document.querySelector(`.curso-card[data-id="${id}"]`);

      if (btn.classList.contains("btn-curso")) {
        card?.classList.add("rotated");
      }

      if (btn.classList.contains("btn-back")) {
        card?.classList.remove("rotated");
      }
    });
  });
</script>
